@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wdth,wght@75..100,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
    font-weight: normal;
}

body {
    color: #08080d;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background: radial-gradient(circle at 105%, #120621, #130c17, #08080d, #08080d, #08080d);

    
}

/* texto da navbar */
nav a {
    color: #cfcfcf;
    font-size: 18px;
    margin-left: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 6px;
    transition: 0.7s;
    border-radius: 10px;
}

nav a:hover {
    background-color: #521e82;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    padding: 0 6rem;
    color: #fff;
}

.logo img {
    width: 40px;
    border-radius: 50px;
} /*fim da navbar */

.informacoes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.5rem 10rem;
    background: radial-gradient(circle at 1% 1%, #221136, #1a0a2b, #0f0f1f,  #08080d,  #08080d, #08080d, #08080d);
}

.text-content {
    max-width: 40%;
}

h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    color: #fff;
}

.tag {
    background: #4f1f6f88;
    color: #caa8ff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}


h1 span {
    color: #a855f7;
}

p {
    color: #e5e5e5;
    margin-top: 1rem;
    line-height: 1.6;
}

.buttons {
    margin-top: 3rem;
}

.noticias {
    background: white;
    color: #787878;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.noticias:hover {
    color: #ffffff;
}

.explore {
    background: #a855f7;
    color: #fff;
    font-weight: 600;
    margin-right: 30px;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.explore:hover {
    background: white;
}

.stats {
    display: flex;
    gap: 3rem;
    margin-top: 2.5rem;
    font-size: 0.9rem;
    color: #cec7d9;
}

.stats strong {
    font-size: 1.5rem;
    color: #fff;
}

.pt2 {
    background-color: white;
}

.pt2 h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 29, 29);
    font-size: 30px;
    padding-top: 90px;
}

.pt2 p {
    font-size: 20px;
    color: #686868;
    text-align: center;
}

/* Cards */
.cards-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 0 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    border: 2px solid #f0f0f0;
    border-radius: 12px;
    width: 280px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    text-align: left;
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
    border-color: #8a2be2;
}

.icon {
    background: #f3e8ff;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.card:hover .icon {
  background: #8a2be2;
}

.cards-container h1 {
  font-size: 25px;
  margin-bottom: 0.5rem;
  color: #111;
}

.cards-container p {
  color: #555;
}

.pt3 {
    background: radial-gradient(circle at 5% 10%, #08080d, #271c3f, #132223, #08080d);
}

.pt3 h1 {
    font-size: 40px;
    padding-top: 90px;
    margin: 0 10rem
}

.pt3 a {
    background-color: #ffffff;
    color: #787878;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 8px;
    transition: 0.3s;
    float: right;
    margin-top: 108px;
    margin-right: 10rem;
}

.pt3 a:hover {
    color: #ffffff;
}

/* cards jogo */
.carrossel {
    margin-top: 60px;
    grid-auto-flow: column;
    display: grid;
    gap: 30px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 0 10rem;
}

.card-jogo {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid #25385c;
    background: radial-gradient(circle at 1% 80%, #8968b94a, #2e1e58b7, #1b285abb, #183a4eb1);
    border-radius: 15px;
    width: 320px;
    height: 290px;
    padding: 2rem;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 90px;
    scroll-snap-align: center;
}

.carrossel h2 { 
    font-size: 25px;
    margin-bottom: 1rem;
    color: #ffffff;
} 

.carrossel p { 
    color: #d5d5d5;
    margin-top: 1px;
    margin-bottom: 1rem;
}

.card-jogo:hover {
    transform: scale(1.005);
    border-color: #a28ac26c;
}

.card-jogo h4 {
    color: #d1c3d8;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.tags {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.tags span {
    background-color: #f2f2f2;
    color: #333;
    font-size: 12px;
    border-radius: 20px;
    padding: 4px 10px;
    font-weight: 500;
}

.estrela {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    color:#fffdd8;
    background-color: #7073c976;
    border-radius: 30px;
    padding: 6px 12px;
    text-align: center;
    font-size: 18px;
}

.bloco {
    border-radius: 30px;
    margin: 10rem;
    padding: 5rem 0 6rem 0;
    text-align: center;
    background: radial-gradient(circle at 5%, #7b44ce, #6e29a3);
}

.bloco h1 {
    font-size: 35px;
}

.bloco p {
    font-size: 20px;
}

.boco h1 p {
    margin-bottom: 5rem;
}
.vccc {
    margin-top: 50px;
}
.vccc a {
    text-decoration: none;
    background-color: #fff;
    color: #8a2be2;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.vccc a:hover {
    color: #fff;
}