@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wdth,wght@75..100,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
    font-weight: normal;
}

body {
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background: radial-gradient(circle at 105%, #120621, #130c17, #08080d, #08080d, #08080d);
}

/* texto da navbar */
nav a {
    color: #cfcfcf;
    font-size: 18px;
    margin-left: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 6px;
    transition: 0.7s;
    border-radius: 10px;
}

nav a:hover {
    background-color: #521e82;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    padding: 0 6rem;
}

.logo img {
    width: 40px;
    border-radius: 50px;
} /*fim da navbar */

/* cards */
.container {
    margin-top: -70px;
    padding: 0 10rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 3px solid #f0f0f0;
    border-radius: 15px;
    width: 1000px;
    height: 200px;
    transition: 0.3s;
    cursor: pointer;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-bottom: 1.5rem;
}

.container h1 { 
    margin-top: 1rem;
    font-size: 25px;
    margin-bottom: 1.3rem;
    color: #111;
} 

.container p { 
    line-height: 28px;
    color: #555;
}

.card:hover {
    border-color: #8a2be2;
}

.card h4 {
    color: #777;
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 1.3rem;
}

.lancamento {
    position: absolute;
    margin-top: 1rem;
    right: 3rem;
    color: #fff;
    background-color: #8a2be2;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
}

.atualizacao {
    position: absolute;
    margin-top: 1rem;
    right: 3rem;
    color: #fff;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 12px;
}